workflows/part2-deal-health-alerts.json
{
  "name": "2. Deal Health Alerts. Main Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        -176
      ],
      "id": "72116c2f-b97e-48c0-b112-05744f505755",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "properties": [
            "dealname",
            "amount",
            "dealstage",
            "closedate",
            "notes_last_updated",
            "hs_lastmodifieddate",
            "createdate",
            "hubspot_owner_id",
            "hs_next_step",
            "hs_number_of_overdue_tasks"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -304,
        -176
      ],
      "id": "68ff88c7-6e76-4cd1-a301-faf0baf559d9",
      "name": "Get many deals",
      "credentials": {
        "hubspotAppToken": {
          "id": "CygJrPuZDNmb5yhy",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        -176
      ],
      "id": "597deab8-ed92-4465-a791-21c2c0a6190f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6eff3ac0-21c3-406e-9945-4e524b885494",
              "leftValue": "={{ $json.properties.dealstage.value }}",
              "rightValue": "presentationscheduled",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c7e163c7-15b6-470e-b566-10b713c2b78d",
              "leftValue": "={{ $json.properties.dealstage.value }}",
              "rightValue": "decisionmakerboughtin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "fb70f753-3527-4861-aa4b-8175da6ba36e",
              "leftValue": "={{ $json.properties.dealstage.value }}",
              "rightValue": "contractsent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        -224
      ],
      "id": "01c3985f-9719-403b-8ac6-704cff4ba557",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XFfAi2fxioiTT3oB",
          "mode": "list",
          "cachedResultUrl": "/workflow/XFfAi2fxioiTT3oB",
          "cachedResultName": "2. Deal Engagements Sub-workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "dealId": "={{ $json.dealId }}"
          },
          "matchingColumns": [
            "dealId"
          ],
          "schema": [
            {
              "id": "dealId",
              "displayName": "dealId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        368,
        -224
      ],
      "id": "14e0bb84-a86d-41c7-b7b5-530c9f347408",
      "name": "Call '2. Deal Engagements Sub-workflow'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today's date: {{ $now.toISODate() }}\n\nDeal Information:\n{{ JSON.stringify($('Loop Over Items').item.json, null, 2) }}\n\nEngagement History:\n{{ JSON.stringify($json, null, 2) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior sales analyst AI. Your job is to evaluate the health of a single B2B sales deal and assign a Deal Health Score from 1 to 10.\n\nScoring guide:\n- 1-4 (Critical): Deal is stalled, overdue, no recent activity, high risk of loss\n- 5-7 (Medium): Deal has some activity but concerning signals present\n- 8-10 (Normal): Deal is progressing well, active engagement, on track\n\nAnalyze the deal based on:\n- Current stage and how long it has been there\n- Close date vs today (overdue?)\n- Notes, calls, and tasks history\n- Recency and quality of engagement\n- Outstanding tasks or blockers mentioned\n\nBe specific. Reference actual notes and call content in your analysis.\nDo not ask for more information. Make a decision based on what you have."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        -224
      ],
      "id": "810b5f6e-105a-450c-ac59-5c64e6ebdb23",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        608,
        0
      ],
      "id": "8bc6ef28-fc30-4c30-892b-612837578cd9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "eDyYuAXLgm8MtLaj",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"dealId\": {\n      \"type\": \"number\"\n    },\n    \"dealname\": {\n      \"type\": \"string\"\n    },\n    \"score\": {\n      \"type\": \"number\",\n      \"description\": \"Health score 1-10\"\n    },\n    \"category_label\": {\n      \"type\": \"string\",\n      \"enum\": [\"Critical\", \"Medium\", \"Normal\"]\n    },\n    \"summary\": {\n      \"type\": \"string\",\n      \"description\": \"2-3 sentence overall assessment\"\n    },\n    \"risk_factors\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"recommendation_actions\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\"dealId\", \"dealname\", \"score\", \"category_label\", \"summary\", \"risk_factors\", \"recommendation_actions\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        0
      ],
      "id": "f4d2bf88-f337-4891-9d03-f9fb1053f75a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Deal Health Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Deal ID": "={{ $json.output.dealId }}",
            "Score": "={{ $json.output.score }}",
            "Summary": "={{ $json.output.summary }}",
            "Category": "={{ $json.output.category_label }}",
            "Risk Factors": "={{ $json.output.risk_factors.join(', ') }}",
            "Recommendation": "={{ $json.output.recommendation_actions.join(', ') }}",
            "Date": "={{ $now.toISODate() }}"
          },
          "matchingColumns": [
            "Deal ID"
          ],
          "schema": [
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Factors",
              "displayName": "Risk Factors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -224
      ],
      "id": "2791f2c9-9a6e-4c72-bef8-1f9319fac42b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oDi6ORPTqHlbiIVZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "e28feaf9-d34b-4e7a-ab6a-2ebef966f4eb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Critical"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b643ca3b-d889-4f2b-b9aa-69d750724130",
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Medium"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "86e84b81-1dcf-47bb-8ce3-6c9fffd3611c",
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Normal"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1168,
        -112
      ],
      "id": "56a59fae-d03f-43ff-8fe0-106d7be30a2c",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 <b>CRITICAL DEAL ALERT</b>\n\n<b>Deal ID: {{ $json['Deal ID'] }}</b>\n🔴 Health Score: {{ $json.Score }}/10 — <b>{{ $json.Category }}</b>\n\n📋 <b>Summary:</b>\n{{ $json.Summary }}\n\n⚠️ <b>Risk Factors:</b>\n{{ $json['Risk Factors'] }}\n\n✅ <b>Immediate Actions:</b>\n{{ $json.Recommendation }}\n\n📅 Date: {{ $json.Date }}\n🔗 <a href=\"https://app.hubspot.com/contacts/YOUR_HUBSPOT_PORTAL_ID/deal/{{ $json['Deal ID'] }}\">Open Deal in HubSpot</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        -192
      ],
      "id": "b61cd733-5274-4753-9c34-4470f7d5c741",
      "name": "Telegram - Critical",
      "webhookId": "3c7c6893-615f-4533-bd0a-4b043492a4dc",
      "credentials": {
        "telegramApi": {
          "id": "JKgfROOpoltrp51Z",
          "name": "Telegram Call Stat BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ <b>MEDIUM DEAL ALERT</b>\n\n<b>Deal ID: {{ $json['Deal ID'] }}</b>\n🟡 Health Score: {{ $json.Score }}/10 — <b>{{ $json.Category }}</b>\n\n📋 <b>Summary:</b>\n{{ $json.Summary }}\n\n⚠️ <b>Risk Factors:</b>\n{{ $json['Risk Factors'] }}\n\n✅ <b>Recommended Actions:</b>\n{{ $json.Recommendation }}\n\n📅 Date: {{ $json.Date }}\n🔗 <a href=\"https://app.hubspot.com/contacts/YOUR_HUBSPOT_PORTAL_ID/deal/{{ $json['Deal ID'] }}\">Open Deal in HubSpot</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        0
      ],
      "id": "5dcb97c7-234c-4c2f-8834-e1cdea1c491e",
      "name": "Telegram - Medium",
      "webhookId": "3c7c6893-615f-4533-bd0a-4b043492a4dc",
      "credentials": {
        "telegramApi": {
          "id": "JKgfROOpoltrp51Z",
          "name": "Telegram Call Stat BOT"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many deals": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call '2. Deal Engagements Sub-workflow'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '2. Deal Engagements Sub-workflow'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram - Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Medium",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Medium": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Critical": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3e8f74c6-8b64-4bdb-8339-e99b52897cb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5709068543c0156ebc2af82bf3cfdc1166307f992df9023f2d1b686ab12fa60d"
  },
  "id": "qAl5MHY8biynnZUl",
  "tags": []
}